[submodule "borg"]
	path = lib/borg
	url = git@github.com:emacscollective/borg.git
[submodule "closql"]
	path = lib/closql
	url = git@github.com:emacscollective/closql.git
[submodule "emacsql"]
	path = lib/emacsql
	url = git@github.com:skeeto/emacsql.git
	no-byte-compile = emacsql-pg.el
[submodule "compat"]
	path = lib/compat
	url = git@github.com:emacs-compat/compat.git
[submodule "epkg"]
	path = lib/epkg
	url = git@github.com:emacscollective/epkg.git
[submodule "doom-modeline"]
	path = lib/doom-modeline
	url = git@github.com:seagle0128/doom-modeline.git
[submodule "nerd-icon"]
	path = lib/nerd-icon
	url = https://github.com/emacsmirror/nerd-icons.git
[submodule "shrink-path"]
	path = lib/shrink-path
	url = git@github.com:zbelial/shrink-path.el.git
[submodule "dash"]
	path = lib/dash
	url = git@github.com:magnars/dash.el.git
[submodule "s"]
	path = lib/s
	url = git@github.com:magnars/s.el.git
[submodule "f"]
	path = lib/f
	url = git@github.com:rejeep/f.el.git
[submodule "ivy"]
	path = lib/ivy
	url = https://github.com/abo-abo/swiper.git
[submodule "yasnippet"]
	path = lib/yasnippet
	url = git@github.com:joaotavora/yasnippet.git
[submodule "markdown-mode"]
	path = lib/markdown-mode
	url = git@github.com:jrblevin/markdown-mode.git
[submodule "lsp-bridge"]
	path = lib/lsp-bridge
	url = git@github.com:manateelazycat/lsp-bridge.git
[submodule "org-modern"]
	path = lib/org-modern
	url = git@github.com:minad/org-modern.git
[submodule "aio"]
	path = lib/aio
	url = https://github.com/skeeto/emacs-aio.git
[submodule "avy"]
	path = lib/avy
	url = git@github.com:abo-abo/avy.git
[submodule "llama"]
	path = lib/llama
	url = git@github.com:tarsius/llama.git
[submodule "evil"]
	path = lib/evil
	url = https://github.com/emacs-evil/evil.git
[submodule "undo-tree"]
	path = lib/undo-tree
	url = https://gitlab.com/tsc25/undo-tree.git
[submodule "emacs-dashboard"]
	path = lib/emacs-dashboard
	url = https://github.com/emacs-dashboard/emacs-dashboard.git
[submodule "org-fragtog"]
	path = lib/org-fragtog
	url = git@github.com:io12/org-fragtog.git
[submodule "org-preview"]
	path = lib/org-preview
	url = https://github.com/karthink/org-preview.git
[submodule "leader"]
	path = lib/leader
	url = git@github.com:noctuid/general.el.git
[submodule "cdlatex"]
	path = lib/cdlatex
	url = https://github.com/cdominik/cdlatex.git
[submodule "evil-org"]
	path = lib/evil-org
	url = https://github.com/Somelauw/evil-org-mode.git
[submodule "org-modern-indent"]
	path = lib/org-modern-indent
	url = git@github.com:jdtsmith/org-modern-indent.git
[submodule "evil-nerd-commentor"]
	path = lib/evil-nerd-commentor
	url = git@github.com:redguardtoo/evil-nerd-commenter.git
[submodule "aider"]
	path = lib/aider
	url = https://github.com/tninja/aider.el.git
[submodule "magit"]
	path = lib/magit
	url = https://github.com/magit/magit.git
[submodule "with-editor"]
	path = lib/with-editor
	url = https://github.com/magit/with-editor.git
[submodule "queue"]
	path = lib/queue
	url = https://github.com/emacs-straight/queue.git
[submodule "hydra"]
	path = lib/hydra
	url = https://github.com/abo-abo/hydra.git
[submodule "super-save"]
	path = lib/super-save
	url = https://github.com/bbatsov/super-save.git
[submodule "rainbow-delimiters"]
	path = lib/rainbow-delimiters
	url = https://github.com/Fanael/rainbow-delimiters.git
[submodule "ace-mc"]
	path = lib/ace-mc
	url = git@github.com:mm--/ace-mc.git
[submodule "highlight-blocks"]
	path = lib/highlight-blocks
	url = git@github.com:Fanael/highlight-blocks.git
[submodule "ace-jump-mode"]
	path = lib/ace-jump-mode
	url = git@github.com:winterTTr/ace-jump-mode.git
[submodule "dirvish"]
	path = lib/dirvish
	url = git@github.com:alexluigit/dirvish.git
[submodule "multiple-cursors"]
	path = lib/multiple-cursors
	url = git@github.com:magnars/multiple-cursors.el.git
[submodule "evil-mc"]
	path = lib/evil-mc
	url = https://github.com/gabesoft/evil-mc.git
[submodule "amx"]
	path = lib/amx
	url = git@github.com:DarwinAwardWinner/amx.git
[submodule "mwim"]
	path = lib/mwim
	url = git@github.com:alezost/mwim.el.git
[submodule "ace-window"]
	path = lib/ace-window
	url = git@github.com:abo-abo/ace-window.git
[submodule "marginalia"]
	path = lib/marginalia
	url = git@github.com:minad/marginalia.git
